*{
    margin: 0;
    padding: 0;
}
body {
    font: normal 13px/1.5 Georgia, Serif;
    color: #333;
}
.wrapper {
/*     width: 705px; */
/*     margin: 20px auto; */
/*     padding: 20px; */
}
.bg {
	width:1200px; height:100%;
	background-image: url(../../image/intro_22.jpg); 
	background-repeat: no-repeat;
	background-position: center top;
	background-size:100%;
}

.imgcover { width: 700px; margin: 0 auto;}
.imgcover img {float:left; width:100%;}

h1 {
    display: inline-block;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 4px 20px;
    float: left;
}
.clear {
    clear: both;
}
.items {
    display: block;
    margin: 20px 0;
}
.item {
	border : 0.7px solid grey;
    background-color: #fff;
    float: left;
    margin: 0 10px 10px 0;
    width: 205px;
    padding: 8px;
    height: 290px;
}
.item img {
    display: block;
    margin: auto;
}
h2 {
    font-size: 16px;
    display: block;
    border-bottom: 1px solid #ccc;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
}
button {
    border: 1px solid grey;
    padding: 4px 14px;
    background-color: #fff;
    color: black;
    text-transform: uppercase;
    float: right;
    margin: 5px 0;
    font-weight: bold;
    cursor: pointer;
}
span {
    float: right;
}
.shopping-cart {
    display: inline-block;
    background: url('http://cdn1.iconfinder.com/data/icons/jigsoar-icons/24/_cart.png') no-repeat 0 0;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
}

table {
	margin:auto;
}

table tr td {
	padding:10px;
}
#etc{
	text-align: center;
}

/* table tr td{
	border: 1px solid #999;
} */