@charset "utf-8";
/* 
@font-face {
    font-family: 'notokr-demilight';
    font-style: normal;
    font-weight: normal;
    src: local('Noto Sans KR'),local('Noto+Sans');
    src: url('https://happist.com/Font/notokr-demilight.eot');
    src: url('https://happist.com/Font/notokr-demilight.eot?#iefix') format('embedded-opentype'),
    url('https://happist.com/Font/notokr-demilight.woff2') format('woff2'),
    url('https://happist.com/Font/notokr-demilight.woff') format('woff'),
    url('https://happist.com/Font/notokr-demilight.ttf') format('truetype'),
    url('https://happist.com/Font/notokr-demilight.svg') format('svg');
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
    font-family: 'Noto Sans KR', 'Noto+Sans',  'notokr-demilight',  '맑은 고딕', 'Malgun Gothic', 'Helvetica Neue', Helvetica, Dotum, '돋움', sans-serif !important;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
*/
body {
    height: 100%;
    background-color: #EAEDED;
}
ul, li, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
a, a:hover, a:focus {
    text-decoration: inherit;
}
input, input:focus {
    outline: none !important;
}
.sh-t-m {
	margin: 2rem 0;
	border-radius: 1rem !important;
	background-color: white;
	box-shadow: 3px 3px 3px lightgrey;
}
.btn-main {
    width: 120px;
    background-color: #8B008B;
    color: white;
    box-shadow: 3px 3px 3px lightgrey;
}
a:not([href]):not([tabindex]) {
    color: white;
}

/* Scrollbar color */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #33b5e5;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #337ee5;
}
/* form Font-Awesome color */
.input-group-addon {
    background-color: white;
    color: #b4b7c1;
}
    .input-group-addon i {

    }

/* box settings */
.box-shadow {
    box-shadow: 3px 3px 3px lightgrey;
}
.box-round {
    border-radius: 1rem;
}
.help-block {
    color: #b4b7c1;
}


/***************
    index.html
****************/
#searchtext {
    width: 44rem;
    margin-right: 0;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    border-radius: 10rem;
}
.search-btn {
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    border-radius: 10rem;
}

/*****************************************
                   header
*****************************************/

.header-img {
    height: 500px;
    margin-top: 5.8rem;
    border: 1px solid #E0DDDD;
    background: url(../img/header.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.header-size {
    height: 500px;
    margin-top: 2.2rem;
}
    .head-text {
        height: 400px;
        text-align: center;
        position: relative;
        z-index: 200;
        display: table-cell;
        vertical-align: middle;
        width: 5000px;
    }


/* Categories */
.cates-ul {
    width: 100%;
    background: #f6f6f6;
}
    .cates-ul a {
        /*position: relative;*/
        display: block;
        padding: 11px 15px 11px 20px;
        border: 1px solid #e6e6e6;
        font-size: 13px;
        color: black !important;    /* color-change! */
        cursor: pointer;
    }





/* Tags */
.tags-block li {
    float: left;
}
    .tags-block li a {
        display: inline-block;
        margin: 0px 10px 1px 0px;
        padding: 5px 11px;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        font-size: 12px;
        line-height: 18px;
        font-weight: 400px;
        color: #b4b7c1;
        background: #f6f6f6;
        cursor: pointer;
    }
.tags-block li a:last-child {
    margin-bottom: 10px;
}



/* Navbar */
.navbar {
    margin-bottom: 0;
    padding-top: 10px;
    background: none;
    background-color: #232F3E !important;
    border-bottom: none;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
    box-shadow: 3px 3px 3px lightgrey;
}

ul.navbar-nav {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

.navbar-inverse ul.navbar-nav li a { color: #EAEDED; border: 0; font-weight: bold; }
.navbar-inverse ul.navbar-nav li a:hover { color: #666; border: 0; }
.navbar-inverse ul.navbar-nav li a:focus { color: #666; outline: 0; border: 0; }

.navbar-inverse ul.navbar-nav li a.btn-link-3 {
    display: inline-block;
    margin: 9px 0 0 15px;
    padding: 6px 15px;
    background: #cb9f3d;
    border: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 1;
    text-transform: uppercase;
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
}
.navbar-inverse ul.navbar-nav li a.btn-link-3:hover,
.navbar-inverse ul.navbar-nav li a.btn-link-3:focus,
.navbar-inverse ul.navbar-nav li a.btn-link-3:active,
.navbar-inverse ul.navbar-nav li a.btn-link-3:active:focus { outline: 0; opacity: 0.6; color: #fff; }

.navbar-brand {
    width: 102px;
    /*background: url(../img/logo.png) left center no-repeat;*/
    text-indent: -99999px;
}
.navbar .container .navbar-brand,
.navbar .container-fluid .navbar-brand { margin-left: 0; }

/*.navbar ul li:last-child {*/
    /*margin-top: .6rem;*/
/*}*/
    .navbar ul li:last-child input {
        margin-left: 1rem;
    }


/*****************************************
                  Contents
*****************************************/
.search-mg {
    margin-right: 1rem;
}

.search-bar {
    margin: 4rem 0;
}

/*card image section*/
.card-mg {
    margin-bottom: 4rem;
}
.card {

}
.view {

}
.view img {
    height: 180px;
    margin-bottom: 1rem;
    background-size: cover;
    box-shadow: 3px 3px 3px lightgrey;
}
    .pink-text {
        color: #DC143C;
    }
    .grow {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .grow:hover
    {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition:all 0.3s ease;
    }
.img-wrap {
    border: 1px solid #E0DDDD;
}


/* button */
.btn-main {
    margin-top: 2rem;
}


/***************
    login.html
****************/
#Login {
    margin-top: 20rem;
    background-color: white;
    box-shadow: 3px 3px 3px lightgrey;
}
.pri-pol {
    height:     900px;
    overflow-y: scroll;
}
    .pri-img {
        width: 44%;
        margin: 0 0 1rem 0;
    }
    .log-img {
        width: 34%;
    }
        .log-width {
            width: 82%;
            margin-bottom: 1rem;
        }
        .input-height {
            height: 42px;
        }
        .btn-log {
            float: none;
        }
.log-wrap {
    margin-bottom: 6rem;
}
/***************
    register.html
****************/
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    /*margin-top: 10rem;*/
}


/***************
    product_upload.html
****************/
.sub-nav {
    margin-top: 10rem;
}
.table-ta {
    border-radius: 1rem !important;
}
.table-1,
.table-2 {
    overflow: hidden;
    height: 400px;
}


/***************
    list.html
****************/



.gallery-items { font-size: 0; }

.gallery-item {
  display: inline-block;
  vertical-align: top;
  -webkit-transition: height 500ms ease;
  -o-transition: height 500ms ease;
  transition: height 500ms ease;
}

.gallery-expander {
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 500ms ease;
  -o-transition: max-height 500ms ease;
  transition: max-height 500ms ease;
}

.gallery-contents { position: relative; }

.gallery-contents:after {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -30px;
  width: 0;
  height: 0;
  content: '';
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  -webkit-transition: border-bottom-width 500ms ease;
  -o-transition: border-bottom-width 500ms ease;
  transition: border-bottom-width 500ms ease;
}

.gallery-item.active .gallery-contents:after { border-bottom-width: 30px; }


ul {
  /*margin-top: 4rem;*/
  padding: 0;
  list-style: none;
  text-align: center;
}

.gallery-item {
  text-align: left;
  font-size: 25px;
  margin: 2rem 0 2rem 0;
  padding: 2rem;
}

.gallery-item .thumbnail {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
}

.gallery-item .thumbnail > img {
  position: absolute;
  top: 50%;
  top: -2%;
  left: -1%;
  height: 31rem;
  /*margin-top: -300px;*/
  max-width: 300px;
}

.gallery-item .title {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

.gallery-contents:after { border-bottom-color: #F6F3ED; }

.gallery-expander { background: #F6F3ED; }

.gallery-expander-contents {
  margin: 0 auto;
  width: 1000px;
  padding: 20px 0;
}
@media (min-width: 640px) and (max-width: 999px) {

.gallery-expander-contents { width: 640px; }
}
@media (max-width: 639px) {

.gallery-expander-contents { width: 100%; }
}

.gallery-expander-contents:after {
  clear: both;
  display: table;
  content: '';
}

.gallery-expander-contents > div.col {
  float: left;
  width: 480px;
}
@media (min-width: 640px) and (max-width: 999px) {

.gallery-expander-contents > div.col { width: 310px; }
}
@media (max-width: 639px) {

.gallery-expander-contents > div.col {
  float: none;
  padding: 25px 20px 0;
  width: auto;
}
}

.gallery-expander-contents > div.col + div.col { margin-left: 40px; }
@media (min-width: 640px) and (max-width: 999px) {

.gallery-expander-contents > div.col + div.col { margin-left: 20px; }
}
@media (max-width: 639px) {

.gallery-expander-contents > div.col + div.col { margin-left: 0px; }
}

.gallery-expander-contents div.close {
  position: absolute;
  top: 10px;
  right: 20px;
}

.gallery-expander-contents div.title {
  font-weight: 500;
  color: #D28A3C;
}

.gallery-expander-contents div.contents {
  overflow: hidden;
  margin-top: 10px;
  border-top: 1px solid #BCB098;
  border-bottom: 1px solid #BCB098;
  padding: 10px 0;
  font-size: 14px;
  line-height: 24px;
  color: #797262;
}

.gallery-expander-contents div.image > img {
  width: 100%;
  display: block;
}



/***************
    list_detail.jsp
****************/
.zoom {
    float: left;
    width: 310px; height: 400px;
    background: #EEE;
}
.xzoom-thumbs {
    /*margin-top: 4rem;*/
}
    .gallery-image-main {
        width: 100%;
        /* height: 500px; */
    }
    .gallery-image {
        width: 100%;    height: auto;
        margin: 0;
    }
    .img-mg {
        margin-top: 3rem;
    }

.right-content span {
    font-size: 15px;
}
.right-content div {
    margin: .6rem 0 .6rem 0;
}
.right-content h3 {
    margin: 0;
}
.color-red {
    /*font-size: 20px;*/
    color: red;
}
.color-grey {
    /*background-color: rgb(240, 240, 240);*/
    background-color: white;
}
    .shrink:hover {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        transition:all 0.3s ease;
    }
    .shrink {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }


.editform {
    margin: 0;
    padding: 0;
}



/***************
    updateform.jsp
****************/
.UpdateWrap {
    overflow: hidden;
    margin: 8rem 0 8rem 0;
}
    .offsets {
        overflow: hidden;
    }

#fileSelect label {
    display: inline-block;
    padding: .5em .75em;
    color: #999;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}
#fileSelect input[type="file"] {
    /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0); border: 0;
}
#fileSelect .upload-name {
    display: inline-block;
    padding: .5em .75em; /* label의 패딩값과 일치 */
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none; }

.on-color {
    background-color: #b3b3b3;
    color: white;
    border: 1px solid #b3b3b3;
}



/***************
      images
****************/



