<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="boarddao" class="springapp.dao.JdbcTemplateBoardDao">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	
	<!-- DB 연결 value="jdbc/spring" 주의 데이터 참조시 사용 -->
	<bean id="datasource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="jdbc/SpringDB"></property>
		<property name="resourceRef" value="true"></property>
	</bean>
	
	<!-- BoardController.java 에서 mav.setViewName("list") 부분의 list만 적고 사용하고 싶을 때 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/board/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	
	<!-- 템플릿 연결 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="datasource"></property>
	</bean>
	
	<!-- 리스트 출력 -->
	<bean name="/board_list.do" class="springapp.board.BoardListController">
		<property name="boardDao" ref="boarddao"></property>
	</bean>
	
	<!-- 상세보기 -->
	<bean name="/board_detail.do" class="springapp.board.BoardDetailController">
		<property name="boardDao" ref="boarddao"></property>
	</bean>
	
	<!-- 수정하기 -->
	<bean name="/board_update.do" class="springapp.board.BoardUpdateController">
		<property name="boardDao" ref="boarddao"></property>
	</bean>
	
	<!-- 수정하기 액션 -->
	<bean name="/board_update_action.do" class="springapp.board.BoardUpdateActionCommandController">
		<property name="boardDao" ref="boarddao"></property>
		<property name="commandClass" value="springapp.dao.BoardVo"></property>
		<property name="commandName" value="boardCmd"></property>
	</bean>
	
	<!-- 글 등록하기 -->
	<bean name="/board_insert.do" class="springapp.board.BoardInsertController">
	</bean>
	
	<!-- 글 등록하기 액션 -->
	<bean name="/board_insert_action.do" class="springapp.board.BoardInsertActionCommandController">
		<property name="boardDao" ref="boarddao"></property>
		<property name="commandClass" value="springapp.dao.BoardVo"></property>
		<property name="commandName" value="boardCmd"></property>
	</bean>
	
	<!-- 삭제하기 -->
	<bean name="/board_delete.do" class="springapp.board.BoardDeleteController">
		<property name="boardDao" ref="boarddao"></property>
	</bean>
	
	<!-- 수정하기 액션 -->
	<bean name="/board_delete_action.do" class="springapp.board.BoardDeleteActionCommandController">
		<property name="boardDao" ref="boarddao"></property>
		<property name="commandClass" value="springapp.dao.BoardVo"></property>
		<property name="commandName" value="boardCmd"></property>
	</bean>
	
	<!-- 댓글 등록하기 -->
	<bean name="/board_reply.do" class="springapp.board.BoardReplyController">
		<property name="boardDao" ref="boarddao"></property>
	</bean>
	
	<!-- 댓글 등록하기 액션 -->
	<bean name="/board_reply_action.do" class="springapp.board.BoardReplyActionCommandController">
		<property name="boardDao" ref="boarddao"></property>
		<property name="commandClass" value="springapp.dao.BoardVo"></property>
		<property name="commandName" value="boardCmd"></property>
	</bean>	
	
</beans>