@CHARSET "EUC-KR";
.form_btn{font-family:Dotum, Dotumche, Verdana, Geneva, Arial;
          font-size:9pt;color:#FFFFFF;border:0px solid #5F8CBF;
          background-color:#336699;height:"25px";width:"200px";}
.form_pwdck{font-family:Dotum, Dotumche, Verdana, Geneva, Arial;
          font-size:9pt;color:#FFFFFF;border:0px solid #5F8CBF;
          background-color:#418EB4;height:"18px";width:"150px";}
.form_pwd{font-family:Dotum, Dotumche, Verdana, Geneva, Arial;
          font-size:9pt;color:#FFFFFF;border:0px solid #5F8CBF;
          background-color:#336699;height:"18px";width:"150px";}
.form_id{font-family:Dotum, Dotumche, Verdana, Geneva, Arial;
          font-size:9pt;color:#000000;border:1px solid #333436;
          background-color:#FFFFFF;height:"19px";width:"80px";}
.form_search{font-family:Dotum, Dotumche, Verdana, Geneva, Arial;
          font-size:9pt;color:#000000;border:1px solid #000000;
          background-color:#FFFFFF;height:"19px";width:"80px";}
.tb_td{border-right:1px solid #7CABE2;}
.tb_td1{border-right:1px solid #7CABE2;}
.tb_td2{border:1px solid #7CABE2; text-align:center; text-decoration:line-through;}
.tb_td3{border-right:1px solid #7CABE2;}
.tb_bottom{height:3;background-color:#6D9ACC;}
.tb_bottom2{height:3;background-color:#CC6DA1;}
.bg{background-color:#DDDDDD;}
.bg2{background-color:#FFFFE8;}
a:link{font-size:9pt;text-decoration:none;color:#6A6A6A;
       font-family:Dotum,Dotumche,Verdana,Geneva,Arial,Helvetica,sans-serif;}
a:visited{font-size:9pt;text-decoration:none;color:#6A6A6A;
       font-family:Dotum,Dotumche,Verdana,Geneva,Arial,Helvetica,sans-serif;}
a:hover{font-size:9pt;text-decoration:none;color:#0E75B7;
       font-family:Dotum,Dotumche,Verdana,Geneva,Arial,Helvetica,sans-serif;}
a:active{font-size:9pt;text-decoration:none;color:#0E75B7;
       font-family:Dotum,Dotumche,Verdana,Geneva,Arial,Helvetica,sans-serif;}
p,br,body,table,tr,td{font-size:9pt;text-decoration:none;color:#333436;
                      font-family:Dotum,Dotumche,Verdana,Geneva,Arial,Helvetica,sans-serif;
                      line-height:18px;}                                        